@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fefff0;
  color: #000000;
}

.wrapper {
  max-width:1400px;
  margin: 0 auto;
  padding: 1.80rem 1.5rem;
}

.Signature {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5rem;
  /* text-align: center; */
  margin-top: 2rem;
}

.Subtitle {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  /* text-align: center; */
  
}

.title2 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  /* text-align: center; */
  margin-top: 2rem;
  margin-bottom: 5rem;
  
}

.box {
  width: 620px;
  height: 300px;
  background-color: #d9d9d9;
  /* padding: 20px; */
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  /* gap: 50px; */
}