@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fdf0d5;
  color: #61210f;
}

.title {
  font-family: "Nova Cut", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem; 
}

.Subtitle {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  
}
